<div class="row" >
    <div [ngClass]="twoCharts ? 'col-md-6' : 'col-md-12'"
         style="height:600px; overflow: hidden;">
        <div #mainChart style="width: 100%; height:100%;"></div>
    </div>
    <div [hidden]="!twoCharts"
         class="col-md-6" style="height:600px; overflow: hidden;">
        <div #secondaryChart style="width: 100%; height: 100%;"></div>
    </div>
</div>


<form class="row">

    <div class="form-block col-lg-4">
        <div class="form-group">
            <label>Chart width</label>
            <div class="select">
                <select>
                    <!-- ng-change="ctrl.reflow()" -->
                    <!-- ng-options="v as k for (k, v) in ctrl.chart_width_options" -->
                    <!-- ng-model="ctrl.chart_width"> -->
                </select>
            </div>
        </div>
    </div>

    <div class="form-block col-lg-8">
        <button class="btn btn-warning-outline">
            <!-- ng-click="ctrl.chart_clear()"> -->
            Clear chart
        </button>
        <button class="btn btn-warning-outline">
            <!-- ng-click="ctrl.chart_pop_series()"> -->
            Pop series
        </button>
    </div>

    <div class="toggle-switch">
        <input name="twoChartsCheckbox"
               type="checkbox"
               id="bv-two-charts-checkbox"
               [(ngModel)]="twoCharts" />
        <label for="bv-two-charts-checkbox">Two charts</label>
    </div>
</form>
