<form class="row compact">

    <div class="form-block col-lg-4" style="border-right: 1px solid grey;">
        <div class="form-group">
            <label>Chart width</label>
            <div class="select">
                <select>
                    <!-- ng-change="ctrl.reflow()" -->
                    <!-- ng-options="v as k for (k, v) in ctrl.chart_width_options" -->
                    <!-- ng-model="ctrl.chart_width"> -->
                </select>
            </div>
        </div>
    </div>

    <div class="form-block col-lg-8">
        <button class="btn btn-warning-outline">
            <!-- ng-click="ctrl.chart_clear()"> -->
            Clear chart
        </button>
        <button class="btn btn-warning-outline">
            <!-- ng-click="ctrl.chart_pop_series()"> -->
            Pop series
        </button>
    </div>

</form>
