<bxli-chart #chart></bxli-chart>

<clr-tabs>
    <clr-tab>
        <button clrTabLink>Add data</button>

        <clr-tab-content>
            <form>
                <div class="form-group">
                    <label>Numerator</label>
                    <div class="bv-form-subgroup">
                        <label>Data</label>
                        <div class="select">
                            <select #lumiDataSelect1>
                                <option *ngFor="let key of cache.getKeys()" [value]="key">{{cache.getData(key).name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="bv-form-subgroup">
                        <label>Measurement</label>
                        <div class="select">
                            <select #measurementSelect1>
                                <option>delivered</option>
                                <option>recorded</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label>Denominator</label>
                    <div class="bv-form-subgroup">
                        <label>Data</label>
                        <div class="select">
                            <select #lumiDataSelect2>
                                <option *ngFor="let key of cache.getKeys()" [value]="key">{{cache.getData(key).name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="bv-form-subgroup">
                        <label>Measurement</label>
                        <div class="select">
                            <select #measurementSelect2>
                                <option>delivered</option>
                                <option>recorded</option>
                            </select>
                        </div>
                    </div>
                </div>

                <button class="btn btn-primary" type="submit"
                        (click)="addSeriesFromCache(
                               lumiDataSelect1.value, measurementSelect1.value,
                               lumiDataSelect2.value, measurementSelect2.value)">
                    Add ratio
                </button>
            </form>
        </clr-tab-content>
    </clr-tab>

    <clr-tab>
        <button clrTabLink>Stats</button>

        <clr-tab-content>
            <bv-chart-stats [chart]="chart"></bv-chart-stats>
        </clr-tab-content>
    </clr-tab>


</clr-tabs>
