<div class="li-chart-container">

    <div #chart class="li-chart"></div>

    <div class="li-chart-controls">
        <div class="bv-form-controls bv-compact-form-controls">
            <div class="bv-form-group">
                <label>Chart height</label>
                <div class="select">
                    <select [(ngModel)]="chartHeight" (change)="onResize(null)">
                        <option *ngFor="let opt of chartHeightOptions">{{opt}}</option>
                    </select>
                </div>
            </div>

            <div class="bv-form-group">
                <label>Chart type</label>
                <div class="select">
                    <select [(ngModel)]="chartType" (change)="onChartTypeChange()">
                        <option *ngFor="let opt of chartTypeOptions">{{opt}}</option>
                    </select>
                </div>
            </div>

            <div class="bv-form-element form-group">
                <clr-checkbox
                    [(ngModel)]="logarithmicY"
                    (change)="onLogarithmicYChange()"
                    [clrInline]="true">
                    Log Y axis
                </clr-checkbox>
            </div>

            <div class="bv-form-element form-group">
                <clr-checkbox
                    [(ngModel)]="showFillLines"
                    (change)="updateFillRunLines()"
                    [clrInline]="true">
                    FILL separators
                </clr-checkbox>
            </div>

            <div class="bv-form-element form-group">
                <clr-checkbox
                    [(ngModel)]="showRunLines"
                    (change)="updateFillRunLines()"
                    [clrInline]="true">
                    RUN separators
                </clr-checkbox>
            </div>

            <div class="bv-form-element">
                <button class="btn btn-warning-outline" (click)="clearChart()">
                    Clear chart
                </button>
                <button class="btn btn-warning-outline" (click)="popSeries()">
                    Pop series
                </button>
            </div>
        </div>
    </div>
</div>
