<clr-datagrid>
    <clr-dg-column>Index</clr-dg-column>
    <clr-dg-column>Name</clr-dg-column>
    <clr-dg-column>Actions</clr-dg-column>
    <clr-dg-row *clrDgItems="let key of sortedKeys; index as i" [clrDgItem]="key">
        <clr-dg-cell>{{i}}</clr-dg-cell>
        <clr-dg-cell>{{names[key]}}</clr-dg-cell>
        <clr-dg-cell>
            <button
                *ngFor="let action of actionsKeys"
                (click)="actions[action](key, cache.getData(key))">
                {{action}}
            </button>
            <button
                (click)="remove(key)">
                Remove
            </button>
        </clr-dg-cell>
    </clr-dg-row>
    <clr-dg-footer>{{cache.size}} items</clr-dg-footer>
</clr-datagrid>
<button
    class="btn btn-danger"
    (click)="clear()">
    Clear all
</button>
