<clr-tabs style="width: 100%">
    <clr-tab>
        <button clrTabLink>
            <clr-icon shape="search"></clr-icon>
            Query
        </button>
        <clr-tab-content [clrTabContentActive]="true">
            <li-totlumi-form></li-totlumi-form>
        </clr-tab-content>
    </clr-tab>

    <clr-tab>
        <button clrTabLink>
            <clr-icon shape="clipboard"></clr-icon>
            Cache
            <span class="badge">{{lumiData.length}}</span>
        </button>
        <clr-tab-content>
            <li-storage></li-storage>
        </clr-tab-content>
    </clr-tab>
</clr-tabs>
<li-totlumi-charts style="width: 100%"></li-totlumi-charts>
