<div class="row" >
    <div [ngClass]="twoCharts ? 'col-md-6' : 'col-md-12'">
        <li-lumi-chart></li-lumi-chart>
    </div>

    <!-- <div [hidden]="!twoCharts" class="col-md-6"> -->
    <!-- <div style="height:600px; width: 100%; overflow: hidden"> -->
    <!-- <div #secondaryChart style="width: 100%; height: 100%;"></div> -->
    <!-- </div> -->
    <!-- <li-common-chart-controls -->
    <!-- [chart]="secondaryChart"> -->
    <!-- </li-common-chart-controls> -->
    <!-- </div> -->
</div>

<!-- <form class="row" style="justify-content: center;"> -->
<!-- <div class="toggle-switch"> -->
<!-- <input name="twoChartsCheckbox" -->
<!-- type="checkbox" -->
<!-- id="li-two-charts-checkbox" -->
<!-- [(ngModel)]="twoCharts" /> -->
<!-- <label for="li-two-charts-checkbox">Analysis chart</label> -->
<!-- </div> -->
<!-- </form> -->
