<div class="bv-form">
    <div class="bv-form-block-fixed">
        <h4>Time</h4>

        <div class="bv-form-controls">
            <div class="bv-form-group">
                <label>RUN</label>

                <input type="number"
                       placeholder="Run number"
                       [(ngModel)]="params.runnum" />
            </div>

            <div class="bv-form-group">
                <label>LS</label>

                <input type="number"
                       placeholder="Lumisection number"
                       [(ngModel)]="params.lsnum" />
            </div>
        </div>
    </div>

    <div class="bv-form-block-free">
        <h4>Options</h4>

        <div class="bv-form-controls">
            <div class="bv-form-group">
                <label>Luminosity source</label>

                <div class="select">
                    <select [(ngModel)]="params.type">
                        <option *ngFor="let opt of paramOptions.type">{{opt}}</option>
                    </select>
                </div>
                
            </div>

            <div class="bv-form-group">
                <label>Normtag</label>
                <bv-normtag-select
                    tagTypes="iovtags"
                    (blur)="params.normtag ? params.type = '-normtag-' : undefined"
                    (valueChange)="params.normtag = $event">
                ></bv-normtag-select>
            </div>

            <div class="bv-form-group">
                <label>Unit type</label>

                <div class="select">
                    <select [(ngModel)]="params.unit">
                        <option *ngFor="let opt of paramOptions.unit" [value]="opt[0]">{{opt[1]}}</option>
                    </select>
                </div>
            </div>

            <div class="bv-form-group">
                <label>Without correction</label>

                <clr-checkbox [(ngModel)]="params.without_correction">
                    Without correction
                </clr-checkbox>
            </div>
        </div>

        <div class="bv-form-controls">

            <div class="bv-form-group">
                <label>BXID Start</label>
    
                <input type="number"
                       placeholder="Initial bunch index"
                       [(ngModel)]="params.bxid_start" />
            </div>

            <div class="bv-form-group">
                <label>BXTHRESHOLD</label>
    
                <input type="number" min="0" max="1" step="0.05"
                       placeholder="Bunch threshold"
                       [(ngModel)]="params.bxthreshold" />
            </div>

        </div>

        <div class="bv-form-controls">

            <div class="bv-form-group">
                <label>BXID End</label>
    
                <input type="number"
                       placeholder="Final bunch index"
                       [(ngModel)]="params.bxid_end" />
            </div>

            <div class="bv-form-group">
                <label>XINGMIN</label>
    
                <input type="number"
                       placeholder="Min bunch luminosity"
                       [(ngModel)]="params.xingmin" />
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-2 col-lg-1">
        <button class="btn btn-primary" (click)="query()">
            Query
        </button>
    </div>

    <div class="col-sm-10 col-lg-11">
        <bv-status [status]="resultStatusText" [message]="resultMessage"></bv-status>
    </div>
</div>

<bv-progress
    [progress]="progress" [status]="progressStatus">
</bv-progress>
