<bxli-chart #chart></bxli-chart>
<bv-alerts #alerts></bv-alerts>

<clr-tabs>
    <clr-tab-link>Add data</clr-tab-link>
    <clr-tab-link>Stats</clr-tab-link>

    <clr-tab-content>
        <form>
            <div class="form-group">
                <label>New series</label>
                <div class="bv-form-subgroup">
                    <label>Data</label>
                    <div class="select">
                        <select #lumiDataSelect>
                            <option *ngFor="let opt of cache.getKeys()" [value]="opt[0]">{{opt[1]}}</option>
                        </select>
                    </div>
                </div>
                <div class="bv-form-subgroup">
                    <label>Measurement</label>
                    <div class="select">
                        <select #measurementSelect>
                            <option>recorded</option>
                            <option>delivered</option>
                        </select>
                    </div>
                </div>
            </div>

            <button class="btn btn-primary" type="submit"
                    (click)="addSeriesFromMemory(lumiDataSelect.value, measurementSelect.value)">
                Add series
            </button>
        </form>
    </clr-tab-content>

    <clr-tab-content>
        <bv-chart-stats [chart]="chart"></bv-chart-stats>
    </clr-tab-content>
</clr-tabs>
