<div class="row" >
    <div class="col-xs-12 li-chart-wrap-container" [hidden]="!lumiChartVisible">
        <div class="li-chart-wrap-container-title">Luminosity values</div>
        <li-lumi-chart></li-lumi-chart>
    </div>

    <div class="col-xs-12 li-chart-wrap-container" [hidden]="!cumulativeChartVisible">
        <div class="li-chart-wrap-container-title">Cummulative luminosity</div>
        <li-cumulative-chart></li-cumulative-chart>
    </div>

</div>

<form class="row li-charts-toggle-form">
    <div class="toggle-switch">
        <input name="lumiChartCheckbox"
               type="checkbox"
               id="lumi-chart-checkbox"
               (change)="dispatchResize()"
               [(ngModel)]="lumiChartVisible" />
        <label for="lumi-chart-checkbox">Luminosity chart</label>
    </div>
    <div class="toggle-switch">
        <input name="cumulativeChartCheckbox"
               type="checkbox"
               id="cumulative-chart-checkbox"
               (change)="dispatchResize()"
               [(ngModel)]="cumulativeChartVisible" />
        <label for="cumulative-chart-checkbox">Cumulative chart</label>
    </div>
</form>
