<div class="row" >
    <div class="col-xs-12" [hidden]="!lumiChartVisible">
        <div class="bv-chart-wrap-container">
            <li-lumi-chart></li-lumi-chart>
        </div>
    </div>

    <div class="col-xs-12" [hidden]="!ratioChartVisible">
        <div class="bv-chart-wrap-container">
            <li-ratio-chart></li-ratio-chart>
        </div>
    </div>

    <div class="col-xs-12" [hidden]="!pileupChartVisible">
        <div class="bv-chart-wrap-container">
            <li-pileup-chart></li-pileup-chart>
        </div>
    </div>

    <div class="col-xs-12" [hidden]="!cumulativeChartVisible">
        <div class="bv-chart-wrap-container">
            <li-cumulative-chart></li-cumulative-chart>
        </div>
    </div>
</div>

<form class="row bv-charts-toggle-form">
    <div class="toggle-switch">
        <input name="lumiChartCheckbox"
               type="checkbox"
               id="lumi-chart-checkbox"
               (change)="dispatchResize()"
               [(ngModel)]="lumiChartVisible" />
        <label for="lumi-chart-checkbox">Luminosity chart</label>
    </div>
    <div class="toggle-switch">
        <input name="ratioChartCheckbox"
               type="checkbox"
               id="ratio-chart-checkbox"
               (change)="dispatchResize()"
               [(ngModel)]="ratioChartVisible" />
        <label for="ratio-chart-checkbox">Ratio chart</label>
    </div>
    <div class="toggle-switch">
        <input name="pileupChartCheckbox"
               type="checkbox"
               id="pileup-chart-checkbox"
               (change)="dispatchResize()"
               [(ngModel)]="pileupChartVisible" />
        <label for="pileup-chart-checkbox">Pileup chart</label>
    </div>
    <div class="toggle-switch">
        <input name="cumulativeChartCheckbox"
               type="checkbox"
               id="cumulative-chart-checkbox"
               (change)="dispatchResize()"
               [(ngModel)]="cumulativeChartVisible" />
        <label for="cumulative-chart-checkbox">Cumulative chart</label>
    </div>
</form>
