.li-chart-wrap-container {
    background: white;
    border: 1px solid #DDDDDD;
    box-shadow: 0 0 12px -6px grey;
    margin-top: 12px;
}

.li-chart-wrap-container-title {
    text-align: center;
    font-size: 1.5em;
    padding: 0.4em 0 0.3em 0;
}

.li-charts-toggle-form {
    justify-content: center;
    padding-top: 48px;
}
