<div class="bv-form">
    <div class="bv-form-block-fixed">
        <h4>Query ATLAS lumi</h4>

        <div class="bv-form-controls">
            <div class="bv-form-group">
                <label>Fill number</label>
                <input type="number" [(ngModel)]="fillnum">
            </div>
        </div>

        <button class="btn btn-primary" type="submit" (click)="clickAtlasQuery()">
            Query ATLAS lumi
        </button>
    </div>

    <div class="bv-form-block-fixed">
        <h4>Query CMS lumi</h4>

        <div class="bv-form-controls">
            <div class="bv-form-group">
                <label>Luminosity source</label>
                <div class="select">
                    <select [(ngModel)]="brilLumiType">
                        <option *ngFor="let opt of brilLumiTypeOptions">{{opt}}</option>
                    </select>
                </div>
            </div>

            <div class="bv-form-group">
                <label>Normtag</label>
                <bv-normtag-select
                    tagTypes="alltags"
                    (blur)="brilNormtag ? brilLumiType = '-normtag-' : undefined"
                    (valueChange)="brilNormtag = $event">
                </bv-normtag-select>
            </div>

            <div class="bv-form-group">
                <label>Connection mode</label>
                <div class="select">
                    <select [(ngModel)]="connection">
                        <option *ngFor="let opt of connectionOptions">{{opt}}</option>
                    </select>
                </div>
            </div>
        </div>

        <button class="btn btn-primary" type="submit" (click)="clickBrilQuery()">
            Query CMS lumi
        </button>
    </div>
</div>
