<div class="row" style="margin-top: 128px; justify-content: center;">
    <clr-icon shape="sad-face" size="128" style="float: right;"></clr-icon>
    <span style="font-size: 72px; line-height: 128px; margin-left: 36px;">
        Page not found
    </span>
</div>

<div class="row" style="justify-content: center;">
    <div>
        Most common reasons:
        <br />
        <ul>
            <li>The page never existed</li>
            <li>The page was renamed/removed</li>
            <li>You were looking for something and found this</li>
            <li>Maybe you seplt smoehtnig worng</li>
        </ul>
    </div>
</div>
