<clr-tabs>
    <clr-tab-link [clrTabLinkActive]="true">
        <clr-icon shape="search"></clr-icon>
        Query
    </clr-tab-link>
    <clr-tab-link>
        <clr-icon shape="clipboard"></clr-icon>
        Memory
        <span class="badge">{{lumiData.length}}</span>
    </clr-tab-link>

    <clr-tab-content [clrTabContentActive]="true">
        <li-form></li-form>
    </clr-tab-content>
    <clr-tab-content>
        <li-storage></li-storage>
    </clr-tab-content>
</clr-tabs>
<li-charts></li-charts>
