<clr-tabs style="width: 100%">
    <clr-tab-link [clrTabLinkActive]="true">
        <clr-icon shape="search"></clr-icon>
        Query
    </clr-tab-link>
    <clr-tab-link>
        <clr-icon shape="clipboard"></clr-icon>
        Cache
        <!-- <span class="badge">{{lumiData.length}}</span> -->
    </clr-tab-link>

    <clr-tab-content [clrTabContentActive]="true">
        <bxli-form></bxli-form>
    </clr-tab-content>
    <clr-tab-content>
        asdf
        <bv-cache-table [cache]="cache"></bv-cache-table>
    </clr-tab-content>
</clr-tabs>

<bxli-charts [cache]="cache"></bxli-charts>
