<div class="bv-form">
    <div class="bv-form-block-fixed">
        <h4>Time range</h4>

        <div class="bv-form-controls">

            <div class="bv-form-group">
                <label>Begin</label>

                <input [hidden]="!beginFieldIsDate"
                       #beginDateField
                       type="text" class="input-with-icon"
                       placeholder="DATE"
                       (blur)="autoFillParamsEnd()"
                       (popupClosed)="autoFillParamsEnd()"
                       ngui-datetime-picker
                       date-format="MM/DD/YY HH:mm:ss"
                       parse-format="MM/DD/YY HH:mm:ss"
                       [close-on-select]="false"
                       [(ngModel)]="params.begin" />

                <input [hidden]="beginFieldIsDate"
                       type="text" class="input-with-icon"
                       placeholder="RUN/FILL/DATE"
                       (blur)="autoFillParamsEnd()"
                       [(ngModel)]="params.begin" />

                <clr-icon
                    shape="calendar" class="input-icon"
                    [class.is-success]="beginFieldIsDate"
                    (click)="beginFieldIsDate = !beginFieldIsDate; params.begin = null; timeoutFocus(beginDateField, 100)">
                </clr-icon>
            </div>

            <div class="bv-form-group">
                <label>End</label>

                <input [hidden]="!endFieldIsDate"
                       #endDateField
                       type="text" class="input-with-icon"
                       placeholder="DATE"
                       ngui-datetime-picker
                       date-format="MM/DD/YY HH:mm:ss"
                       parse-format="MM/DD/YY HH:mm:ss"
                       [close-on-select]="false"
                       [(ngModel)]="params.end" />

                <input [hidden]="endFieldIsDate"
                       type="text" class="input-with-icon"
                       placeholder="RUN/FILL/DATE"
                       [(ngModel)]="params.end" />

                <clr-icon
                    shape="calendar" class="input-icon"
                    [class.is-success]="endFieldIsDate"
                    (click)="endFieldIsDate = !endFieldIsDate; params.end = null; timeoutFocus(endDateField, 100)">
                </clr-icon>
            </div>

            <div class="bv-form-group">
                <label>Connection mode</label>
                <div class="select">
                    <select [(ngModel)]="params.connection">
                        <option *ngFor="let opt of paramOptions.connection">{{opt}}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="bv-form-block-free">
        <h4>Options</h4>
        <div class="bv-form-controls">
            <div class="bv-form-group">
                <label>Luminosity source</label>
                <div class="select">
                    <select [(ngModel)]="params.type">
                        <option *ngFor="let opt of paramOptions.type">{{opt}}</option>
                    </select>
                </div>
            </div>

            <div class="bv-form-group">
                <label>Normtag</label>
                <bv-normtag-select
                    tagTypes="alltags"
                    (blur)="params.normtag ? params.type = '-normtag-' : undefined"
                    (valueChange)="params.normtag = $event">
                </bv-normtag-select>
            </div>

            <!-- <div class="bv-form-group"> -->
            <!-- <label>HLT path</label> -->
            <!-- <input type="text" [(ngModel)]="params.hltpath"> -->
            <!-- </div> -->

            <div class="bv-form-group tooltip tooltip-bottom-left">
                <label>By lumisection</label>
                <clr-checkbox [(ngModel)]="params.byls">
                    By lumisection
                </clr-checkbox>
                <span class="tooltip-content">
                    Data point per lumisection. Otherwise per run.
                </span>
            </div>

            <div class="bv-form-group tooltip tooltip-bottom-left">
                <label>Unit type</label>
                <div class="select">
                    <select [(ngModel)]="params.unit" [class.bg-danger]="!validators.unit()">
                        <option *ngFor="let opt of paramOptions.unit" [value]="opt[0]">{{opt[1]}}</option>
                    </select>
                </div>
                <span class="tooltip-content" *ngIf="!validators.unit()">
                    {{errors.unit}}
                </span>
            </div>

            <div class="bv-form-group">
                <label>Beam status</label>
                <div class="select">
                    <select [(ngModel)]="params.beamstatus">
                        <option *ngFor="let opt of paramOptions.beamstatus">{{opt}}</option>
                    </select>
                </div>
            </div>

            <div class="bv-form-group">
                <label>Without correction</label>
                <clr-checkbox [(ngModel)]="params.without_correction">
                    Without correction
                </clr-checkbox>
            </div>

            <div class="bv-form-group">
                <label>Datatag</label>
                <clr-checkbox [(ngModel)]="params.datatag" (change)="getDatatagNames($event)">
                    Datatag
                </clr-checkbox>
            </div>

            <div class="bv-form-group" *ngIf="params.datatag">
                <label>Datatag name</label>
                <div class="select">
                    <select [(ngModel)]="params.datatagname">
                        <option *ngFor="let opt of paramOptions.datatagnames">{{opt}}</option>
                    </select>
                </div>
            </div>

            <div class="bv-form-group">
                <label>Pileup</label>
                <clr-checkbox [(ngModel)]="params.pileup">
                    Query pileup
                </clr-checkbox>
            </div>

            <div class="bv-form-group" *ngIf="params.pileup">
                <label>Min. bias cross sec.</label>
                <input type="number" [(ngModel)]="params.minbiasxsec" />
            </div>

        </div>
    </div>

</div>

<div class="row">
    <div class="col-sm-2 col-lg-1">
        <button class="btn btn-primary" (click)="query()">
            Query
        </button>
    </div>
    <div class="col-sm-10 col-lg-11">
        <div [hidden]="!loadingStatus">
            <label>Status:</label>
            <span class="label"
                  [ngClass]="loadingStatus === 'OK' ?
                             'label-success' :
                             (loadingStatus === 'WAITING' ?
                             'label-info' :
                             'label-danger')">
                {{loadingStatus}}
            </span>
        </div>
        <div class="hidden-xs-down"
             [hidden]="!message || loadingProgress < 100">
            <label>Message:</label> {{message}}
        </div>
    </div>
</div>

<div class="progress"
     [hidden]="!loadingStatus"
     [class.flash]="loadingProgress === 100 && loadingStatus === 'OK'"
     [class.flash-danger]="loadingProgress === 100 && loadingStatus !== 'OK'"
     [class.loop]="loadingProgress < 100">
    <progress max="100" [value]="loadingProgress"></progress>
</div>
