.input-icon {
    position: absolute;
    right: 0;
    bottom: 0.5em;
    cursor: pointer;
}

.input-with-icon {
    padding-right: 1.5em;
}

.progress {
    margin-top: 3px;
    line-height: 0px;
    max-height: 3px;
    min-height: 3px;
}

.progress > progress {
    vertical-align: top;
}

input {
    width: 100%;
}

:host /deep/ .picker-dropdown {
    max-height: 482px;
}

:host /deep/ .picker-dropdown > .picker-box {
    font-family: inherit;
    line-height: initial;
}

:host /deep/ .picker-dropdown > .picker-box > .picker-banner > .picker-banner-moment > .moment-date,
.picker-dropdown > .picker-box > .picker-banner > .picker-banner-moment > .moment-time {
    padding: 0;
}

:host /deep/ .ngui-datetime-picker .days {
    width: 230px;
}

:host /deep/ .ngui-datetime-picker input {
    width: 100%;
}
:host /deep/ .ngui-datetime-picker > .month {
    width: 500px;
    text-align: center;
}
