<div class="row" >
    <div [ngClass]="twoCharts ? 'col-md-6' : 'col-md-12'">
        <div style="height:600px; width: 100%; overflow: hidden">
            <div #mainChart style="width: 100%; height:100%;"></div>
        </div>
        <li-common-chart-controls
            [chart]="mainChart">
        </li-common-chart-controls>
    </div>
    <div [hidden]="!twoCharts" class="col-md-6">
        <div style="height:600px; width: 100%; overflow: hidden">
            <div #secondaryChart style="width: 100%; height: 100%;"></div>
        </div>
        <li-common-chart-controls
            [chart]="secondaryChart">
        </li-common-chart-controls>
    </div>
</div>

<form class="row">
    <div class="toggle-switch">
        <input name="twoChartsCheckbox"
               type="checkbox"
               id="bv-two-charts-checkbox"
               [(ngModel)]="twoCharts" />
        <label for="bv-two-charts-checkbox">Two charts</label>
    </div>
</form>
