<div class="row" >
    <div class="col-xs-12">
        <div class="bv-chart-wrap-container">
            <li-chart #chart noRemoveButtons="true"></li-chart>
            <bv-alerts #alerts></bv-alerts>
            <div style="text-align: center">
                <button class="btn btn-lg" (click)="toggleLive()">
                    {{live ? 'Stop' : 'Start'}}
                </button>
            </div>
        </div>
        <div class="progress" [ngClass]="{'success': live && success, 'danger': !success}">
            <progress value="100" max="100"></progress>
        </div>
    </div>
</div>
