<form class="row compact">
    <div class="form-block col-lg-4" style="border-right: 1px solid grey;">
        <label>Time range</label>
        <div class="form-group">
            <label>Time range unit</label>
            <div class="select">
                <select ng-model="ctrl.query.timeunit">
                    <option>RUN</option>
                    <option>FILL</option>
                    <option>DATE</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label>From</label>
            <input
                type="text"
                placeholder="Starting from"
                ng-model="ctrl.query.begin">
        </div>
        <div class="form-group">
            <label>To</label>
            <input
                type="text"
                placeholder="Ending at"
                ng-model="ctrl.query.end">
        </div>
    </div>

    <div class="form-block col-lg-4" style="border-right: 1px solid grey;">
        <label>Data</label>
        <div class="form-group">
            <label>Lumitype</label>
            <div class="select">
                <select
                    ng-model="ctrl.query.type"
                    ng-options="v as k for (k, v) in ctrl.type_options">
                </select>
            </div>
        </div>
        <div class="form-group">
            <label>Normtag</label>
            <input type="text" ng-model="ctrl.query.normtag">
        </div>
        <div class="form-group">
            <label>Datatag</label>
            <input type="text" ng-model="ctrl.query.datatag">
        </div>
        <div class="form-group">
            <label>HLT path</label>
            <input type="text" ng-model="ctrl.query.hltpath">
        </div>
    </div>

    <div class="form-block col-lg-4">
        <label>Switches</label>
        <div class="form-group">
            <label>By run/lumisection</label>
            <div class="checkbox">
                <input id="f0-byls-check"
                       type="checkbox"
                       ng-model="ctrl.query.byls">
                <label for="f0-byls-check">By lumisection</label>
            </div>
        </div>
        <div class="form-group">
            <label>Unit</label>
            <div class="select">
                <select
                    ng-model="ctrl.query.unit"
                    ng-options="o for o in ctrl.unit_options">
                </select>
            </div>
        </div>
        <div class="form-group">
            <label>Beam status</label>
            <div class="select">
                <select
                    ng-model="ctrl.query.beamstatus"
                    ng-options="v as k for (k, v) in ctrl.beamstatus_options">
                </select>
            </div>
        </div>
    </div>

    <div class="col-sm-12">
        <button
            type="submit"
            class="btn btn-primary"
            ng-click="ctrl.update_chart()">
            Query
        </button>
    </div>
</form>
