<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <configSections>
    <section name="microsoft.identityModel" type="Microsoft.IdentityModel.Configuration.MicrosoftIdentityModelSection, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </configSections>
  <appSettings>
    <add key="WSGI_HANDLER" value="forwarder.app" />
    <add key="PYTHONPATH" value="\\CERN\dfs\websites\b\brilview" />
  </appSettings>
  <system.webServer>
    <modules>
      <add name="WSFederationAuthenticationModule" type="Microsoft.IdentityModel.Web.WSFederationAuthenticationModule, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <add name="SessionAuthenticationModule" type="Microsoft.IdentityModel.Web.SessionAuthenticationModule, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </modules>
    <directoryBrowse enabled="false" />
    <handlers accessPolicy="Read, Script">
      <remove name="ActiveState Python for .py" />
      <add name="Python FastCGI" path="/api*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Python27\python2.7.exe|C:\Python27\Lib\site-packages\wfastcgi.pyc" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="Redirect to HTTPS">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="^OFF$" />
            <add input="{URL}" pattern="(.*)" />
          </conditions>
          <action type="Redirect" url="https://brilview.web.cern.ch{C:1}" redirectType="Found" />
        </rule>
      </rules>
    </rewrite>
    <security>
      <authorization>
        <remove users="*" roles="" verbs="" />
        <add accessType="Allow" users="cern\JDAUGALA" />
                <add accessType="Allow" roles="cern-users" />
      </authorization>
      <ipSecurity allowUnlisted="true">
                <clear />
      </ipSecurity>
      <authentication>
        <anonymousAuthentication enabled="false" />
        <basicAuthentication enabled="false" />
      </authentication>
    </security>
  </system.webServer>
  <system.web>
    <httpRuntime requestValidationMode="2.0" />
    <compilation>
      <assemblies>
        <add assembly="Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
  </system.web>
  <microsoft.identityModel>
    <service>
      <serviceCertificate>
        <certificateReference x509FindType="FindBySubjectName" findValue="webservices.cern.ch" storeLocation="LocalMachine" storeName="My" />
      </serviceCertificate>
      <audienceUris>
        <!--<add value=ADFS URL />-->
        <add value="https://brilview.web.cern.ch/" />
      </audienceUris>
      <federatedAuthentication>
        <!--<wsFederation passiveRedirectEnabled="true" issuer="https://login.cern.ch/adfs/ls/" realm=ADFS URL requireHttps="true" />-->
        <cookieHandler requireSsl="true" path="/" />
        <wsFederation passiveRedirectEnabled="true" issuer="https://login.cern.ch/adfs/ls/" realm="https://brilview.web.cern.ch/" requireHttps="true" />
      </federatedAuthentication>
      <applicationService>
        <claimTypeRequired>
          <!--Following are the claims offered by STS 'https://cern.ch/login'. Add or uncomment claims that you require by your application and then update the federation metadata of this application.-->
          <claimType type="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name" optional="true" />
          <claimType type="http://schemas.microsoft.com/ws/2008/06/identity/claims/role" optional="true" />
          <claimType type="http://schemas.xmlsoap.org/claims/HomeInstitute" optional="true" />
          <claimType type="http://schemas.xmlsoap.org/claims/Department" optional="true" />
          <claimType type="http://schemas.xmlsoap.org/claims/DisplayName" optional="true" />
          <claimType type="http://schemas.xmlsoap.org/claims/PersonID" optional="true" />
          <claimType type="http://schemas.xmlsoap.org/claims/FaxNumber" optional="true" />
          <claimType type="http://schemas.xmlsoap.org/claims/Firstname" optional="true" />
          <claimType type="http://schemas.xmlsoap.org/claims/HomeDir" optional="true" />
          <claimType type="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/emailaddress" optional="true" />
          <claimType type="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/givenname" optional="true" />
          <claimType type="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/upn" optional="true" />
          <claimType type="http://schemas.xmlsoap.org/claims/CommonName" optional="true" />
          <claimType type="http://schemas.xmlsoap.org/claims/EmailAddress" optional="true" />
          <claimType type="http://schemas.xmlsoap.org/claims/Group" optional="true" />
          <claimType type="http://schemas.xmlsoap.org/claims/UPN" optional="true" />
          <claimType type="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/surname" optional="true" />
          <claimType type="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/privatepersonalidentifier" optional="true" />
          <claimType type="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/nameidentifier" optional="true" />
          <claimType type="http://schemas.microsoft.com/ws/2008/06/identity/claims/authenticationinstant" optional="true" />
          <claimType type="http://schemas.microsoft.com/ws/2008/06/identity/claims/authenticationmethod" optional="true" />
          <claimType type="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/denyonlysid" optional="true" />
          <claimType type="http://schemas.microsoft.com/ws/2008/06/identity/claims/denyonlyprimarysid" optional="true" />
          <claimType type="http://schemas.microsoft.com/ws/2008/06/identity/claims/denyonlyprimarygroupsid" optional="true" />
          <claimType type="http://schemas.microsoft.com/ws/2008/06/identity/claims/groupsid" optional="true" />
          <claimType type="http://schemas.microsoft.com/ws/2008/06/identity/claims/primarygroupsid" optional="true" />
          <claimType type="http://schemas.microsoft.com/ws/2008/06/identity/claims/primarysid" optional="true" />
          <claimType type="http://schemas.microsoft.com/ws/2008/06/identity/claims/windowsaccountname" optional="true" />
          <claimType type="http://schemas.xmlsoap.org/claims/MobileNumber" optional="true" />
          <claimType type="http://schemas.xmlsoap.org/claims/Building" optional="true" />
          <claimType type="http://schemas.xmlsoap.org/claims/Lastname" optional="true" />
          <claimType type="http://schemas.xmlsoap.org/claims/PhoneNumber" optional="true" />
        </claimTypeRequired>
      </applicationService>
      <securityTokenHandlers>
        <add type="Microsoft.IdentityModel.Tokens.Saml11.Saml11SecurityTokenHandler, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
          <samlSecurityTokenRequirement mapToWindows="true" />
        </add>
      </securityTokenHandlers>
      <issuerNameRegistry type="Microsoft.IdentityModel.Tokens.ConfigurationBasedIssuerNameRegistry, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
        <trustedIssuers>
          <!-- valid 10/2013 - 07/2023 - SHA256 -->
          <add thumbprint="39825BA2D96AEB74E422D7DAA1F124BD079B0240" name="https://cern.ch/login" />
        </trustedIssuers>
      </issuerNameRegistry>
    </service>
  </microsoft.identityModel>
</configuration>
