<div class="card-container">

    <div class="card-wrapper">
        <a routerLink="/totlumi" class="card clickable">
            <div class="card-header">
                Total luminosity
            </div>

            <div class="card-img">
                <img src="assets/totlumi_thumbnail.png">
            </div>

            <div class="card-footer"></div>
        </a>
    </div>

    <div class="card-wrapper">
        <a routerLink="/bxlumi" class="card clickable">
            <div class="card-header">
                Per bunch luminosity
            </div>

            <div class="card-img">
                <img src="assets/bxlumi_thumbnail.png">
            </div>

            <!-- <div class="card-block"> -->
            <!-- <p class="card-text"></p> -->
            <!-- </div> -->
            <div class="card-footer"></div>
        </a>
    </div>
</div>
