.card-container {
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
}

.card-wrapper {
    flex: 1 1 auto;
    padding: 12px;
    min-width: 240px;
    width: 300px;
    max-width: 360px;
}

.card .card-img > img {
    height: 120px;
}
